body {
    margin: 0;
    color: rgba(237, 241, 245, 0.938);
    background-color: black;
    

}

h1 {

    text-align: center;
    color: rgb(255, 117, 4);
    font-family: 'Permanent Marker', cursive;
}

.treeImages {
    display: none;
    /* display:flex;
    justify-content:space-evenly; */

}

.moringa {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    color: rgb(255, 117, 4);
    font-weight: bold;
}

#moringaTree {
    display: none;

}

h3 {
    color: rgb(228, 141, 70);
}

.timber {
    float: left;
    width: 30%;

}

.cut {
    margin-bottom: 200px;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}

.seedling {
    margin-bottom: 300px;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}

.elephant {
    font-size: larger;
    margin-bottom: 200px;
    font-family: 'Montserrat', sans-serif;
}

.seed {
    float: right;
    width: 30%;
}

.elephant_image {
    float: left;
    width: 30%;
}