body{
    margin:0;
    color:rgba(237, 241, 245, 0.938);
    background-color: black;

}
h1{
    text-align: center ;
}
.treeImages{
    display:none;
    /* display:flex;
    justify-content:space-evenly; */
    
}
.moringa{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color:rgb(255, 117, 4);
    font-weight: bold;
}
#moringaTree{
    display:none;
  
}